<head>
    <style>
        .menu {
            position: fixed;
            left: 5px;
            margin-top: 5px;
            width: 200px;
            height: 100%;
            border-radius: 5px;
            background-color: #f1f1f1;
        }

        .menu ul {
            list-style: none;
            margin: ;
            padding: 0;
        }

        .menu li {
            margin: 0;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .menu li:last-child {
            border-bottom: none;
        }

        .menu li a {
            display: block;
            color: #333;
            font-size: 20px;
            text-decoration: none;
        }

        .menu li a:hover {
            background-color: #ddd;
        }

        h2, .row a {
            margin-left: 100px;
        }

        table {
            margin-left: 100px;
            margin-top: 20px;
        }

        thead,
        tbody {
            text-align: center;
        }

        tbody tr td {
            vertical-align: baseline;
        }

        img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<div class="container">
    <div class="menu">
        <ul>
            <li><a href="/admin/homepage">Home</a></li>
            <li><a href="/admin/manage_categories">Manage Categories</a></li>
            <li><a href="/admin/manage_toys">Manage Toys</a></li>
            <li><a href="/user/toy_list">View Product Page</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>This is Admin Homepage!</h1>
    </div>
</div>